
    <div class="row">
        <div class="col">
          <div class="p-3 clearfix" style="
          background-color: #150029;
      ">
            <div class="row">
              <div class="col">
                <img src="assets/img/logo.jpeg" class="rounded float-start" alt="..." style="height: 150px" />
              </div>
              <div class="col">
                <h1 class="ps-3 pt-lg-5 text-center text-light">Global OTT Streaming Service</h1>
              </div>
              <div class="col">
                
                <img src="assets/img/qr.png" class="rounded float-end" alt="..." style="height: 150px" />
              </div>
            </div>
           
          </div>
        </div>
      </div>
      <app-navbar></app-navbar>
    <div class="card" style="
    background-color: #2c2449;
    color: #fff;
">
    <div class="row">
        <div class="col">
          <div class="p-3 border">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>